@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import '_breakpoints.scss';

@font-face {
    font-family: titleFont;
    src: url('/AcadMMI/fonts/Bright_Melody_Personal_Use_Only.ttf');
}


*,
::before,
::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: $bg-color;
    color: $txt-color;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

// General styles

.general {
    max-width: 1680px;
    margin: 0 auto;
    padding: 3rem 0px;
}

h1, h2, h3 {
    font-family: titleFont;
    font-size: 2.5em;
    font-weight: 100;
}

p {
    font-size: 20px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: $txt-color;
    text-decoration: none;
}


div.title-centered-container {
    padding: 3rem 0px;
    @extend %flexColumn-justify;
    gap: 20px;

    img.small-stars {
        width: 30px;
        object-fit: cover;
        margin: 0px 10px;
    }
    
    span.centered-underline {
        display: block;
        width: 150px;
        border: 1px solid #ffffff;
    }
}

div.title-left-container {
    padding: 3rem 0px;
    @extend %flexColumn;
    gap: 10px;

    span.left-underline {
        display: block;
        width: 150px;
        border: 1px solid #ffffff;
    }
}

 