// Couleurs

$primary-color: #002455;
$secondary-color: #D9ED52;

$txt-color: #ffffff;
$bg-color: #002455;

// Textes

$line-height: 1.3rem;

// Utilitaires

$border-color: #ffffff;
$border-radius: .9rem;