// Couleurs

$primary-color: #ffffff;
$secondary-color: #af1b3f;

$txt-color: #ffffff;
$bg-color: #0a192f;

// Textes


$line-height: 1.3rem;
$title-size: 2rem;
$txt-size: 1.25rem;

// Utilitaires

$border-color: #ffffff;
$border-radius: .9rem;